# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.opt
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.axf
*.tra
*.dep   
*.ewt   
*.pbi     
*.iex
*.htm
*.sct
*.xcl
*.linf
*.browse
*.pbd

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
